<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>To-do List</title>
</head>
<body style="background-color:powderblue;">
<h1>To-do List</h1>
<a href="/add">Add a Task</a><br/>
<table>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Date</th>
        <th>Action</th>
    </tr>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.name}"></td>
        <td th:text="${task.type}"></td>
        <td th:text="${task.date}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${task.id})}">Update</a>
            <a th:href="@{/detail/{id}(id=${task.id})}">Details</a>
            <a th:href="@{/delete/{id}(id=${task.id})}">Delete</a>
        </td>
    </tr>
</table>
<footer>
    <div th:insert="footer :: copy "></div>
</footer>
</body>
</html>