<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>To-do Form</title>
</head>
<body style="background-color:powderblue; text-align: center; height: 100vh; width: 100vw; margin: 0; padding: 0">
  <header>
    <h1>Task Form</h1>
  </header>
    <form th:action="@{/process}" th:object="${task}" method="post">
      Task Name: <input type="text" th:field="*{name}" />
      <span style="margin: 0.75em;" th:if="${#fields.hasErrors('name')}" th:error="*{name}"></span><br/>
      Task Type: <input type="text" th:field="*{type}" />
      <span style="margin: 0.75em;" th:if="${#fields.hasErrors('type')}" th:error="*{type}"></span><br/>
      Task Date: <input type="text" th:field="*{date}"/>
      <span style="margin: 0.75em" th:if="${#fields.hasErrors('date')}" th:error="*{date}"></span><br/>
      Task Description: <textarea rows="4" th:field="*{description}"/>
      <span style="margin: 0.75em" th:if="${#fields.hasErrors('description')}" th:error="*{description}"></span><br/>
      <input type="submit" value="Submit"/>
    </form>
  <footer style="position:fixed; width: 100%; bottom: 0;" th:insert="footer :: copy "></footer>
</body>
</html>